<div class="contens">
  <div class="container">
    <div class="section-company">
    	<div class="box">
    	<h3>会社情報</h3>
           <table>
            <tbody>
                <tr>
                <th>会社名</th>
                <td>株式会社Zielson(ジールソン)</td>
                </tr>
                <tr>
                <th>代表者</th>
                <td>嶋崎聖</td>
                </tr>
                <tr>
                <th>本社所在地</th>
                <td>〒104-0033</br>
                    東京都中央区新川2-2-1</br>
                いづみハイツ茅場町913</td>
                </tr>
                </tbody>
            </table>
	 	</div> 
	</div>
  </div>
</div>