@import "partials/definition/variable";
@import "partials/definition/mixin";

@charset "utf-8";

.form-box{
  padding-top: 24px;
  background:rgba($cf, 0.8);
  .txt-01{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: $cb;
    background: $cs2;
    margin-bottom: 8px;
    img{
      width: 30px;
      position: relative;
      top: 4px;
    }
  }
  .txt-02{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: $cb;
    margin-bottom: 8px;
    @media #{$desktop3} {
      font-size: 1.8rem;
      letter-spacing: -1px;
    }
  }
  input,select{
    margin-bottom: 20px !important;
    &.st{
      //color: $ck;
      border: 4px solid $ck;
      animation: lighting_up 1s ease-in infinite;
      @keyframes lighting_up {
          0%   {border: 4px solid $ck;}
          50% { border: 4px solid rgba($ck, 0.4);}
          100% { border: 4px solid $ck;}
      }
    }
  }
}

.section{
  padding: 60px 0;
  h2{
    color: $cs;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 60px;
  }
}

.sp-modal{
  display: none;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 160px;
  background: rgba(#000, 1);
  @include fixPosition($top: 0, $right: auto, $bottom: auto, $left: 0);
  z-index: 1000;
  .inner-box{
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
  }

  .btn-close{
    text-align: right;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 10px auto;
    span {
      display:block;
      position:absolute;
      top: 20px;
      width:100%;
      border-bottom:solid 3px $ck;
      &:nth-child(1){

        @include vp(transform , rotate(-45deg));
        border-color: $cb;
      }
      &:nth-child(2), &:nth-child(3){
        @include vp(transform , rotate(45deg));
        border-color: $cb;
      }
    }
  }
  .form-box{
    background: none;
  }
}//


/*animation
==============================================================================================*/
.fadeIn_off {
    // transition:transform .8s 	ease-in-out ;
    // opacity: 0;
    // @include vp(transform, translateY(60px));
}
.fadeIn_off ul.list-fade-in li{
  // opacity: 0;
}
.fadeIn_on {
    // opacity: 1;
    // @include vp(transform, translateY(0));
}
.slideLeft_off {
    // @include vp(transform, translatex(-200px));
    // transition:transform .8s 	ease-in-out;
}
.slideLeft_on {
    // @include vp(transform, translatex(0));
}
.slideRight_off {
    // @include vp(transform, translatex(200px));
    // transition:transform .8s 	ease-in-out;
}
.slideRight_on {
    // @include vp(transform, translatex(0));
}


/*sp Layout
---------------------------------------*/
@media #{$sp} {
  .section{
    padding: 40px 0;
    h2{
      font-size: 2.6rem;
      line-height: 1.4em;
      margin-bottom: 40px;
    }
  }
  .form-box{
    margin-bottom: 20px;
    .txt-01{
      font-size: 2.6rem;
    }
    .txt-02{
      font-size: 1.6rem;
    }
    input[type="image"]{
      margin-bottom: 0 !important;
    }
  }

}//@media #{$sp}
