<title><% provide(:title, "Thanksページ") %></title>
<div class="contens">
  <div class="container">
    <div class="section-thanks">
    	<h2>お問い合わせありがとうございます</h2>
    	<div class="box">
	    	<h3>お客様入力情報</h3>
	    	<ul>
				<li>お名前：<%= @inquiry.name %></li>
		 		<li>電話番号：<%= @inquiry.tel %></li>
		 		<li>メールアドレス：<%= @inquiry.email %></li>
		 		<li>希望サービス：<%= @inquiry.servicecategories %></li>
	 		</ul>
	 	</div>
	 	<div class="message-box">
	 		<p>ご入力情報を元に担当コンシェルジュが電話連絡いたします。<br>今しばらくお待ちください。</p>
	 	</div>
	</div>
  </div>
</div>