<footer>
   <div class="container">
    <div class="row">
      <div class="container-fluid">

        <p class="logo"><strong>
          <a href="index.html">
            <img src="images/logo-white.svg" alt="太陽光メンテプロ">
            太陽光発電メンテナンス専門の業者紹介・選定サービス
          </a>
        </strong></p>

        <ul>
          <li><a href="#">運営会社</a></li>
          <li><a href="#">利用規約</a></li>
          <li><a href="#">プライバシーポリシー</a></li>
        </ul>


      </div><!--container-fluid-->
    </div><!--row-->
  </div><!--container-->

  <div id="backtop">
    <img src="images/btn-page-top.svg" alt="page top">
  </div>

  <p class="copy">&copy;&nbsp;太陽光メンテプロ</p>

</footer>
</div><!--wrapper-->

<!--JS-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/library/bootstrap/tether.min.js"></script>
<script src="js/library/bootstrap/bootstrap.min.js"></script>
<script src="js/common.js"></script>
<script src="js/library/inview/jquery.inview.min.js" type="text/javascript"></script>
<script src="js/library/tile/jquery.tile.min.js" type="text/javascript"></script>
<script>
  $(function () {
    MP.mentepro.common();
    MP.mentepro.top();
  });
</script>
<!--JS END-->
</body>
</html>
